*.jpg
PruebaWebCAQ/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.cache
PruebaWebCAQ/Data/DBConnection.cs
PruebaWebCAQ/Data/DBConnection.cs
PruebaWebCAQ/Data/DBConnection.cs
PruebaWebCAQ/bin/PruebaWebCAQ.dll